<% page_total_price = 0 %>

<% if @cart_items == nil or @cart_items == [] %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-5 m-4 px-4 py-1 bg-secondary text-center">
        <h2>ショッピングカート</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 m-4">
        <%= link_to items_path do %>
          <button class = "btn btn-primary">
            買い物を続ける
          </button>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4 mt-5 m-4 px-4 py-1 bg-secondary text-center">
        <h2>ショッピングカート</h2>
      </div>
      <div class="col-md-3 offset-md-4 mt-5 m-4 px-4 py-1 text-right">
        <%= link_to cart_items_path, action: 'destroy_all', method: :delete, data: {confirm: "カートから全ての商品を削除しますか？"} do %>
          <button class = "btn btn-danger btn-sm">カートを空にする</button>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div>
          <table class="table table-bordered">
            <thead>
              <th class="table-active col-md-4">商品名</th>
              <th class="table-active col-md-2">単価(税込)</th>
              <th class="table-active col-md-2">数量</th>
              <th class="table-active col-md-2">小計</th>
              <th class="table-active col-md-2"></th>
            </thead>
            <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <td class="align-middle">
                  <%= attachment_image_tag cart_item.item, :image, size: "80x80", fallback: "no_image.jpg" %>
                  <strong><%= name = cart_item.item.name %></strong>
                </td>
                <td class="align-middle">
                  <% price = add_tax_price(cart_item.item.price) %>
                  <%= price.to_s(:delimited, delimiter: ',') %>
                </td>
                <td class="align-middle">
                  <% amount = cart_item.amount %>
                  <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch, local: true do |f| %>
                    <div class="row mx-auto form-inline">
                      <%= f.number_field :amount, min: 1, class: 'form-control', style: "width:50%", required: true %>
                      <%= f.submit "変更", class: "btn btn-success ml-2" %>
                    </div>
                  <% end %>
                </td>
                <td class="align-middle">
                  <% total_price = price * amount %>
                  <% page_total_price += total_price %>
                  <%= total_price.to_s(:delimited, delimiter: ',') %>
                </td>
                <td class="text-center align-middle">
                <%= link_to cart_item_path(cart_item), method: :delete, data: {confirm: "【"+ name + "】" + " を カートから削除しますか？"} do %>
                  <button class = "btn btn-danger btn-sm">
                    削除する
                  </button>
                <% end %>
                </td>

              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <div>

  <div class="row justify-content-between mt-4">
    <div class="col-md-4 ml-5">
      <%= link_to root_path do %>
        <button class = "btn btn-primary">
          買い物を続ける
        </button>
      <% end %>
    </div>

    <div class="col-md-3">
      <table class="table table-bordered">
        <tr>
         <th class="table-active">合計金額</th>
         <td><%= page_total_price.to_s(:delimited, delimiter: ',') %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <%= link_to new_order_path do %>
        <button class= "btn btn-success btn-lg">
          情報入力に進む
        </button>
      <% end %>
    </div>
  </div>
</div>
<% end %>