<% page_total_price = 0 %>

<% if @cart_items == nil %>
  なんもないで
<% else %>
  <%= link_to cart_items_path, action: 'destroy_all', method: :delete, data: {confirm: "カートから全ての商品を削除しますか？"} do %>
    <button class = "btn btn-danger">カートを空にする</button>
  <% end %>
  <div>
  <% @cart_items.each do |cart_item| %>
    <div>
      <%= attachment_image_tag cart_item.item, :image, size: "100x100", fallback: "no_image.jpg" %>
      <%= name = cart_item.item.name %>

      <% price = cart_item.item.price %>
      1個当たり<%= price.to_s(:delimited, delimiter: ',') %>円

      <%= amount = cart_item.amount %>個

      <% total_price = price * amount %>
      <% page_total_price += total_price %>
      合計<%= total_price.to_s(:delimited, delimiter: ',') %>円

      <%= link_to cart_item_path(cart_item.item_id), method: :delete, data: {confirm: "【"+ name + "】" + " を カートから削除しますか？"} do %>
        <button class = "btn btn-danger">
          削除
        </button>
      <% end %>

    </div>
  <% end %>
  </div>
  <div>
    <%= link_to items_path do %>
      <button class = "btn btn-primary">
        買い物を続ける
      </button>
    <% end %>
  </div>

  <div>
    合計金額 <%= page_total_price.to_s(:delimited, delimiter: ',') %>円
  </div>
<% end %>