<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5 m-4 px-4 py-1 bg-secondary text-center">
      <h2>注文履歴一覧</h2>
    </div>
  </div>

  <div>
    注文日　配送先　注文商品　支払い金額　ステータス　注文詳細
  </div>

  <div>
    <% @orders.each do |order| %>
    <div>
      <%= l order.created_at, format: :ymd %>
      〒<%= order.postal_code %>
      <%= order.address %>
      <%= order.name %>

      <% order.order_items.each do |order_item| %>
        <%= order_item.item.name %>
      <% end %>

      <%= (order.total_payment + order.postage.to_i).to_s(:delimited, delimiter: ',') %>円
      <%= order.order_status %>
      <%= link_to "表示する", order_path(order.id), class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>