<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
      <%= attachment_image_tag @item, :image, size: "300x300", fallback: "no_image.jpg" %>
    </div>

    <div class="col-md-8">
      <div class="row">
        <h3><%= @item.name %></h3>
      </div>
      <div class="row">
        <p><%= @item.introduction %></p>
      </div>
      <div class="row mt-5">
        <h3>￥<%= add_tax_price(@item.price).to_s(:delimited, delimiter: ',') %><span class="h6 ml-1">( 税込 )</span></h3>
      </div>

    <% if customer_signed_in? %>
      <%= form_with model: CartItem.new, url: cart_items_path, local:true do |f| %>
        <div class="col-md-12">
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <div class="row mt-5">
          <%= f.number_field :amount, min: 1, class: 'form-control col-md-2', required: true, placeholder: "個数を入力" %>
          <%= f.submit "カートに入れる", class: "btn btn-sm btn-success col-md-3 ml-5" %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  </div>
</div>