<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= attachment_image_tag @item, :image, size: "300x300", fallbaxk: "no_image.jpg" %>
    </div>
    <div class="col-md-8">
      <div class="col-md-8">
        <h2><%= @item.name %></h2>
        <div class="col-md-8">
          <%= @item.introduction %>
        </div>
        <div class="col-md-8">
          <h3><span>￥</span><%= @item.price %></h3>
        </div>
        <div>
          <p>仮入れ　個数選択（プルダウン）</p>
        </div>
        <div>
          <%= link_to "カートに入れる", root_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>