<div class="container">
  <div class="row">
    <% form_with 
    <div class="col-md-4">
      <%= attachment_image_tag @item, :image, size: "300x300", fallbaxk: "no_image.jpg" %>
    </div>
    <div class="col-md-8">
      <div class="col-md-12">
        <h2><%= @item.name %></h2>
        <div class="col-md-12">
          <p><%= @item.introduction %></p>
        </div>
        <div class="col-md-12">
          <h3><span>￥</span><%= @item.price.to_s(:delimited, delimiter: ',') %><span class="add_tax"> (税込み)</span></h3>
        </div>
        <div class="row">
          <%= 
          <%= link_to "カートに入れる", root_path, class: "btn btn-success col-md-3" %>
        </div>
      </div>
    </div>
  </div>
</div>