<div class="container">
  <div class="row">
    <div class="col-md-2 mt-5 m-4 px-4 py-1 bg-secondary text-center">
      <h2>ログイン</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center">
      <p class="ml-5 m-4 px-2 py-1 bg-secondary">会員の方はこちらからログイン</p>
    </div>
  </div>
  <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
  <div class="field row justify-content-center my-2">
    <%= f.label "メールアドレス", class: "col-md-2" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", style: "width: 75%", class: "col-md-5" %>
  </div>

  <div class="field row justify-content-center my-2">
    <%= f.label "パスワード", class: "col-md-2" %>
    <%= f.password_field :password, autocomplete: "current-password", style: "width: 75%", class: "col-md-5" %>
  </div>

  <div class="actions row justify-content-center">
    <%= f.submit "ログイン", class: "btn btn-success m-4", style: "width: 120px" %>
  </div>
  <% end %>


  <div class="row">
    <div class="col-md-4 text-center">
      <p class="ml-5 m-3 px-2 py-1 bg-secondary">会員登録がお済みでない方</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 text-center">
      <%= link_to "こちら", new_customer_registration_path, style: "text-decoration:underline" %><span>　から新規登録を行ってください。</span>
    </div>
  </div>


</div>