<!DOCTYPE html>
<html>
  <head>
    <title>ながのCAKE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <%= link_to "ながのCAKE", root_path, class: "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <!-- adminだった場合 -->
              <% if admin_signed_in? %>
              <li class-"nav-item">
                <%= link_to "商品一覧", admin_items_path, class: "nav-link text-dark" %>
              </li>
              <li class-"nav-item">
                <%= link_to "会員一覧", admin_customers_path, class: "nav-link text-dark" %>
              </li>
              <li class-"nav-item">
                <%= link_to "注文履歴一覧", admin_orders_path, class: "nav-link text-dark" %>
              </li>
              <li class-"nav-item">
                <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link text-dark" %>
              </li>
              <li class-"nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-dark" %>
              </li>
              <% end %>
            </ul>

              <!-- for admin's session -->
            <div class="container">
              <div class="row">
                <div class="col-md-2 mt-5 m-4 px-4 py-1 bg-secondary text-center">
                  <h2>管理者ログイン</h2>
                </div>
              </div>
              <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
              <div class="field row justify-content-center my-2">
                <%= f.label "メールアドレス", class: "col-md-2" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", style: "width: 75%", class: "col-md-5 form-control" %>
              </div>

              <div class="field row justify-content-center my-2">
                <%= f.label "パスワード", class: "col-md-2" %>
                <%= f.password_field :password, autocomplete: "current-password", style: "width: 75%", class: "col-md-5 form-control" %>
              </div>

              <div class="actions row justify-content-center">
                <%= f.submit "ログイン", class: "btn btn-primary m-4", style: "width: 120px" %>
              </div>
              <% end %>
            </div>
        </div>
      </div>
    </nav>
  </header>
  <main>

  </main>
  <footer>
    <div class="container-fluid mt-3 bg-dark text-white">
      <div class="row">
        <div class="mx-auto my-5">
          <p class="text-center mb-0">フッター用スペース</p>
        </div>
      </div>
    </div>
  </footer>
</body>