<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5 m-4 px-4 py-1 bg-secondary text-center">
      <h2>配送先先編集</h2>
    </div>
  </div>


  <%= form_with model: @address, local: true do |f| %>
    <div>
    <%= f.label "郵便番号(ハイフンなし)" %>
    <%= f.text_field :postal_code, value: @address.postal_code %>
    </div>
    <div>
    <%= f.label "住所" %>
    <%= f.text_field :address_name, value: @address.address_name %>
    </div>
    <div>
    <%= f.label "宛名" %>
    <%= f.text_field :name, value: @address.name %>
    </div>

    <%= f.submit "変更内容を保存", class: "btn btn-success" %>
  <% end %>
</div>