<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5 m-4 px-4 py-1 bg-secondary text-center">
      <h2>注文履歴一覧</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th class="table-active col-md-3">購入日時</th>
            <th class="table-active col-md-4">購入者</th>
            <th class="table-active col-md-2">注文個数</th>
            <th class="table-active col-md-3">注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% unless @orders == nil or @orders == [] %>
            <% @orders.each do |f| %>
            <tr>
              <td><u><%= link_to (l f.created_at, format: :default), admin_order_path(f.id), class: "text-body" %></u></td>
              <td><%= f.customer.last_name + " " + f.customer.first_name %></td>

              <% amount = 0 %>
              <% f.order_items.each do |order_item| %>
                <% amount += order_item.amount %>
              <% end %>

              <td><%= amount %></td>
              <td><%= f.order_status %></td>
            </tr>
            <% end %>
          <% end %>
      </table>
    </div>
  </div>

  <div class="mt-5 mb-4">
    <%= paginate @orders %>
  </div>
</div>