<div class="container">
  <div class="row">
    <div class="col-md-2 mt-5 m-4 px-4 py-1 bg-secondary text-center">
      <h2>商品編集</h2>
    </div>
  </div>

  <%= form_with model: @item, url: admin_item_path, local: true do |f| %>
  <div class="form-group row form-inline">
    <%= f.label "商品画像" %>
    <%= f.attachment_field :image, class: "form-control-file" %>
  </div>
  <div class="form-group row form-inline">
    <%= f.label "商品名" %>
    <%= f.text_field :name, class: "form-control", value: @item.name %>
  </div>
  <div class="form-group row form-inline">
    <%= f.label "商品説明" %>
    <%= f.text_area :introduction, class: "form-control", value: @item.introduction %>
  </div>
  <div class="form-group row form-inline">
    <%= f.label "ジャンル" %>
    <%= f.collection_select(:genre_id, @genres_name_all, :id, :name,) %>
  </div>
  <div class="form-group row form-inline">
    <%= f.label "税抜価格" %>
    <%= f.text_field :price, class: "form-control", value: @item.price %>
    <span class="ml-1">円</span>
  </div>
  <div class="form-check row form-inline">
    <%= f.label "販売ステータス" %>
    <%= f.radio_button :is_active, true, class: "form-check-input" %>
    <%= f.label "販売中", class: "form-check-label" %>
    <%= f.radio_button :is_active, false, class: "form-check-input" %>
    <%= f.label "販売停止中",class: "form-check-label" %>
  </div>
  <div class="form-group row">
    <%= f.submit "変更を保存", class: "btn btn-success" %>
  </div>
  <% end %>
</div>