<div class="container">
  <div class="row">
    <div class="col-md-2 mt-5 m-4 px-4 py-1 bg-secondary text-center">
      <h2>商品詳細</h2>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-4">
      <%= attachment_image_tag @item, :image, size: "300x300", fallback: "no_image.jpg" %>
    </div>

    <div class="col-md-8">
      <div class="row my-3">
        <div class="col-md-3">
          商品名
        </div>
        <div class="col-md-4">
          <h4><%= @item.name %></h4>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-3">
          商品説明
        </div>
        <div class="col-md-4">
          <h4><%= @item.introduction %></h4>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-3">
          ジャンル
        </div>
        <div class="col-md-4">
          <h4><%= @genre.name %></h4>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-3">
          税込価格</br>
          (税抜価格)
        </div>
        <div class="col-md-4">
          <h4><%= add_tax_price(@item.price).to_s(:delimited, delimiter: ',') %>
          (<%= @item.price.to_s(:delimited, delimiter: ',') %>)<span class="h6 ml-1">円</span></h4>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-md-3">
          販売ステータス
        </div>

        <div class="col-md-4">
          <% if @item.is_active == true %>
            <h4 class="text-success">販売中</h4>
          <% else %>
            <h4 class="text-danger">販売停止中</h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <%= link_to "編集する", edit_admin_item_path, class: "btn btn-success btn-lg mb-5" %>
  </div>

</div>